@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fff;
  --text-color: #000;

  --dark-grey: #7f7f7f;
  --light-grey: #e8e5e480;
}

body {
  background-color: var(--background-color);
}
